/* -----------------------------------------------Reset User Agent */
/*To remove any margin or border, reset font size & font style, reset the vertical alignment to its default value*/
html, body, div, span, applet,
p, blockquote,
a, big, cite, code,
em, img,
small, strike, strong, tt,
u,
ol, ul, li,
form, label, legend,
table,
article, aside, canvas,
figure, figcaption, footer, header,
menu, nav, output, section {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* hyphens & too long words go to next line */
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
/*To remove bullets from bulleted lists*/
ul, li {
	list-style: none;
}
/*To remove underlining or any other effect on links*/
a, a:target, a:visited, a:active {
  text-decoration: none;
  color: black;
}

img {
    max-width: 100%;
}



/* -----------------------------------------------Helper Class */


/*** Positions ***/

.relative, .rel, .porel {
    position: relative;
}

.postat {
    position: static;
}

/* Position absolute */

.abs, .poabs {
  position: absolute;
}
.abstop, .abst {
  position: absolute;
  top: 0;
}
.absbottom, .absb {
  position: absolute;
  bottom: 0;
}
.absleft, .absl {
  position: absolute;
  left: 0;
}
.absright, .absr {
  position: absolute;
  right: 0;
}
.abstopright, .abstr, .poabsur {
  position: absolute;
  top: 0;
  right: 0;
}
.abstopleft, .abstl, .poabsul {
  position: absolute;
  top: 0;
  left: 0;
}
.absbottomright, .absbr, .poabsdr {
  position: absolute;
  bottom: 0;
  right: 0;
}
.absbottomleft, .absbl, .poabsdl {
  position: absolute;
  bottom: 0;
  left: 0;
}


/* Fixed position - to place an object fixed in the viewport */

.fix, .pofix {
  position: fixed;
}
.fixtop, .fixt {
  position: fixed;
  top: 0;
}
.fixbottom, .fixb {
  position: fixed;
  bottom: 0;
}
.fixleft, .fixl {
  position: fixed;
  left: 0;
}
.fixright, .fixr {
  position: fixed;
  right: 0;
}
.fixtopright, .fixtr {
  position: fixed;
  top: 0;
  right: 0;
}
.fixtopleft, .fixtl {
  position: fixed;
  top: 0;
  left: 0;
}
.fixbottomright, .fixbr {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fixbottomleft, .fixbl {
  position: fixed;
  bottom: 0;
  left: 0;
}
.fixtop, .fixt,.pofixup {
    position: fixed;
    top: 0;
}

.fixbottom, .fixb, .pofixdown {
    position: fixed;
    bottom: 0;
}


/*** Display ***/

.dblock, .bl {
    display: block;
}

.dinblock, .inbl {
    display: inline-block;
}


/*** Float ***/

.floatr {
    float: right;
}

.floatl {
    float: left;
}

.floatn {
    float: none;
}

.floatfix {
    clear: both;
}

/*** Flex properties ***/
.dflex {
  display:flex;
}

.dflexcenter {
  display:flex;
  justify-content:center;
}

.dflexsp-b {
  display:flex;
  justify-content:space-between;
}

.dflexsp-a {
  display:flex;
  justify-content:space-around;
}

.dflex-w {
  flex-wrap: wrap;
}


/*** Hide Elements ***/

.dnone {
    /* full Hide elements */
    display: none;
}

.visuallyhidden {
    /* elements still visible by DOM but not by User*/
    position: absolute;
    top: -999px;
    left: -9999px;
}

.visibhidden {
    /* hide content but space location still visible*/
    visibility: hidden;
}


/*** Overflow ***/

.overhidden {
    overflow: hidden;
}


/*** Center elements ***/
.centerm {
  margin-left: auto;
  margin-right: auto;
}

.textleft, .tl, .leftt {
  text-align: left;
}

.textright, .tr, .rightt {
  text-align: right;
}

.textcenter, .tc, .centert {
  text-align: center;
}

.textjustify, .tj {
  text-align: justify;
}
/*** Border Radius ***/
.border-radius {
  border-radius:0.4em;
}

/*** Defaults Colors & background ***/
.color {
  color: blue;
}

.bg {
  background: #dedede;
}


/* -----------------------------------------------General Styles */


code {
    display: block;
    background: #3F3F3F;
    color: white;
}

/* -----------------------------------------------Navigation Bar */

/* Navigation Bar*/

.nav>ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
}
.nav>ul li {
    flex: 1;
}
.nav li a  {
    line-height: 50px;
    color: #fff;
    background-color: #2f3036;
    display: flex;
    justify-content: center;
}
.nav li:hover a, .nav li:hover {
    background-color: #aaaaaa;
    color: black;
    transition: 0.2s;
}
/*Liens Toggle*/
.nav li:hover ul a {
    background-color: #aaaaaa;
    color: #2f3036;
    line-height: 50px;
}
/*Hover liens Toggle*/
.nav li:hover ul a:hover {
    background-color: #e2575e;
    transition: 0.1s;
}
/*Cache liens Toggle*/
.nav li ul {
    display: none;
    position: relative;
}
/*Permet affichage liens Toggle*/
.nav>ul li:hover .hid_ul, .hid_ul:hover,.nav>ul li:hover {
    display: block;
    padding: 0;
}

.nav input[type=checkbox], .show-menu {
    display: none;
}
.show-menu {
    color: #fff;
    background-color: #2f3036;
    text-align: center;
    padding: 10px 0;
}
.nav input[type=checkbox]:checked~ul:first-of-type {
    display: block;
}

.clearnav{
  padding-top: 50px;
}
/* -----------------------------------------------Grid */

/*- The Responsive Grid */

.grid, .borderbox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Grid Display*/

.grid {
    display: block;
    clear: both;
    overflow: auto;
}

/* Cancel spaces between elements*/

.no-space {
  padding: 0;
}
.grid *{
  box-sizing: border-box;
}

.grid *[class*="w-"], .grid *[class*="-twelve"] {
  float: left;
  padding: 10px;
}
/* Widths in relative values, to use within, or out of the grid*/
/*--1/12--*/
.one-twelve, .w-1-12 {
    width: calc(100%/12);
}
/*--2/12--*/
.two-twelve, .w-1-6, .w-2-12 {
    width: calc(100%/6);
}
/*--3/12--*/
.three-twelve, .w-1-4, .w-3-12 {
    width: 25%;
}
/*--4/12--*/
.four-twelve, .w-1-3, .w-2-6, .w-4-12 {
    width: calc(100%/3);
}
/*--5/12--*/
.five-twelve, .w-5-12 {
    width: calc(500%/12);
}
/*--6/12--*/
.six-twelve, .w-1-2, .w-2-4, .w-3-6, .w-6-12{
    width: 50%;
}
/*--7/12--*/
.seven-twelve, .w-7-12 {
    width: calc(700%/12);
}
/*--8/12--*/
.eight-twelve, .w-2-3, .w-4-6, .w-8-12 {
    width: calc(200%/3);
}
/*--9/12--*/
.nine-twelve, .w-3-4, .w-9-12 {
    width: 75%;
}
/*--10/12--*/
.ten-twelve, .w-5-6, .w-10-12 {
    width: calc(500%/6);
}
/*--11/12--*/
.onze-twelve, .w-11-12 {
    width: calc(1100%/12);
}
/*--12/12--*/
.twelve-twelve, .w-12-12, .w-1{
    width: 100%;
}
/** Moar width**/
/*1 Tenth of its closest ancestor*/
.w-1-10 {
  width: 10%;
}
/*1 quarter of its closest ancestor*/
.w-1-8 {
  width: 12.5%;
}
/*1 fifth of its closest ancestor*/
.w-1-5 {
  width: 20%;
}
/**Grid Media Query**/
@media (max-width:768px){
  .grid [class*="w-"] {
    width:100%;
  }
}

/* ----------------------------------------------- FlexGrid */

.containflex {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.colnorm {
    flex: 1;
    box-sizing: border-box;
}

.coltiny {
    flex: 0.5;
    box-sizing: border-box;
}

.colmedium {
    flex: 2;
    box-sizing: border-box;
}

.colbig {
    flex: 4;
    box-sizing: border-box;
}

.colflexnorm {
    display: flex;
    flex: 1;
    box-sizing: border-box;
}

.colflextiny {
    display: flex;
    flex: 0.5;
    box-sizing: border-box;
}

.colflexmedium {
    display: flex;
    flex: 2;
    box-sizing: border-box;
}

.colflexbig {
    display: flex;
    flex: 4;
    box-sizing: border-box;
}

/* -----------------------------------------------Form */

.form {
    margin: 5px 10%;
    padding: 2%;
    border-radius: 10px;
    background-color: #EEEEEE;
    font-family: serif;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.form label {
    display: inline-block;
    min-width: 25%;
    text-align: left;
    font-weight: bold;
}

.form fieldset {
    margin: 10px;
    border-radius: 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    text-align: center;
    padding: 5%;
}

.form legend {
    font-style: italic;
    text-align: left;
}

.form input {
    border-radius: 3px;
    margin: 1% 0px;
    width: 40%;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

.form input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin: 5px 5px;
}

.form input:focus {
    transition: 0.5s;
}

.form textarea {
    width: 40%;
    height: 10vh;
    margin: 5px;
}

.form select {
    border: 1px solid #CCCCCC;
    padding: 5px;
    width: 40%;
}

.form button {
    padding: 8px 0px;
    width: 100px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: #8FE583;
    cursor: pointer;
}

.form button:active {
    box-shadow: inset 1px 1px 5px grey;
}

.form button:focus {
    outline: none;
}

.form .question {
    text-align: left;
    margin-top: 20px;
}

/* -----------------------------------------------Tableaux */

.table {
    background: #EEEEEE;
    border-collapse: separate;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    font-size: 0.9em;
    margin: auto;
    text-align: left;
    width: 80%;
}

.table th {
    background: linear-gradient(#777, #444);
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
}

.table td {
    border: 1px solid #fff;
    padding: 10px 15px;
}

.table tbody tr td:first-child {
    font-weight: bold;
}


/* -----------------------------------------------Tableaux */

.table {
    background: #EEEEEE;
    border-collapse: separate;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    font-size: 0.9em;
    margin: auto;
    text-align: left;
    width: 80%;
}

.table th {
    background: linear-gradient(#777, #444);
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
}

.table td {
    border: 1px solid #fff;
    padding: 10px 15px;
}

.table tbody tr td:first-child {
    font-weight: bold;
}

/*class to round elements*/
.rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
/*class to make circle elements*/
.circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

/*-Elements sizes*/
/*width*/
.w10p {width: 10px;}
.w20p {width: 20px;}
.w30p {width: 30px;}
.w40p {width: 40px;}
.w50p {width: 50px;}
.w60p {width: 60px;}
.w70p {width: 70px;}
.w80p {width: 80px;}
.w90p {width: 90px;}
.w100p {width: 100px;}
.w150p {width: 150px;}
.w200p {width: 200px;}
.w250p {width: 250px;}
.w300p {width: 300px;}
.w350p {width: 350px;}
.w400p {width: 400px;}
.w450p {width: 450px;}
.w500p {width: 500px;}
.w550p {width: 550px;}
.w600p {width: 600px;}
.w650p {width: 650px;}
.w700p {width: 700px;}
.w750p {width: 750px;}
.w800p {width: 800px;}
.w850p {width: 850px;}
.w900p {width: 900px;}
.w950p {width: 950px;}
.w1000p {width: 1000px;}


/*-Height*/
.h10p {height: 10px;}
.h20p {height: 20px;}
.h30p {height: 30px;}
.h40p {height: 40px;}
.h50p {height: 50px;}
.h60p {height: 60px;}
.h70p {height: 70px;}
.h80p {height: 80px;}
.h90p {height: 90px;}
.h100p {height: 100px;}
.h150p {height: 150px;}
.h200p {height: 200px;}
.h250p {height: 250px;}
.h300p {height: 300px;}
.h350p {height: 350px;}
.h400p {height: 400px;}
.h450p {height: 450px;}
.h500p {height: 500px;}
.h550p {height: 550px;}
.h600p {height: 600px;}
.h650p {height: 650px;}
.h700p {height: 700px;}
.h750p {height: 750px;}
.h800p {height: 800px;}
.h850p {height: 850px;}
.h900p {height: 900px;}
.h950p {height: 950px;}
.h1000p {height: 1000px;}
/* -----------------------------------------------Buttons */

.btn {
    padding: 8px 0px;
    width: 100px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: #EEEEEE;
    cursor: pointer;
}

.btn.vld {
    background-color: #8FE583;
}

.btn.anl {
    background-color: #e2575e;
}

.btn:active {
    box-shadow: inset 1px 1px 5px grey;
}

.btn:focus {
    outline: none;
}



/* -----------------------------------------------Media Queries */
@media screen and (max-width: 1100px) {
  .nav {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 800px) {

    /*------------------------------------------------Form*/
    .form {
        margin: 0;
        width: 100%;
        border-radius: 0px;
    }
    .form label {
        min-width: 45%;
        margin-bottom: 10px;
        font-size: 0.8em;
    }
    .form input {
        width: 45%;
        padding: 10px;
        font-size: 0.6em;
    }
    .form input[type="radio"], input[type="checkbox"] {
        width: 20%;
        display: block;
        position: relative;
        top: 15px;
        left: 5%;
        margin: 0;
    }
    .form select {
        width: 45%;
    }
    .form button {
        padding: 10px;
    }
    /*------------------------------------------------Tableau*/
    .table {
        font-size: 1.7vh;
        width: 100%;
    }
    /*------------------------------------------------Nav*/
    .nav {
      font-size: 1em;
    }
    .nav ul li, .nav li a {
        width: 100%;
    }
    .show-menu {
        display: block;
        width: 100%;
    }
    .nav>ul {
        display: none;
    }
}
