@font-face {
  font-family: "sansation_regular";
  src: url("../fonts/Sansation_Regular.ttf");
}

*
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
}

div#wrapper
{
    min-height: 100%;
    width: 100%;
}

header
{
    width: 100%;
    top: 0;
    left: 0;
    border: 2px solid black;
    background-color: #737373;
    box-sizing: border-box;
}

div.reseaux_sociaux {
    width: 15%;
    font-family: "sansation_regular";
    color: white;
}

div.reseaux_sociaux a {
    color: white;
}

.icon-twitter:hover {
    color: #4B8AA9;
}

.icon-facebook:hover {
    color: #3b5998;
}

.icon-mail-alt:hover {
    color: #E20148;
}

.logo_simplon {
    top: 5%;
    left: 2%;
    width: 200px;
    height: 180px;
}

.nav {
    width: 70%;
    bottom: 25%;
    right: 10%;
    z-index: 10;
    font-family: "sansation_regular";
}

.nav li a {
    background-color: #363636;
}

.nav li:hover a {
    background-color: #E20148;
}

.nav li:hover ul a {
    background-color: #aaaaaa;
}

.nav li:hover ul a:hover {
    background-color: #4B8AA9;
}

form fieldset {
    background-color: #aaaaaa;
    border: none;
}

form input {
    margin-bottom: 5%;
    border-radius: 5%;
}

form button {
    font-family: "sansation_regular";
    color: white;
    padding: 5%;
    border-radius: 7%;
    background-color: #4B8AA9;
    box-shadow: none;
    border: 1.5px solid white;
    cursor: pointer;
}

footer
{
    width: 100%;
    border: 2px solid black;
    background-color: #737373;
    box-sizing: border-box;
    color: white;
}

.footer_logo {
  width: 7%;
}

footer p {
  font-family: "sansation_regular";
}

h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

div#main-container
{
    box-sizing: border-box;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
}

aside
{
    flex-direction: column;
    min-width: 100px;
    min-height: calc(100vh - 200px - 100px);
    box-sizing: border-box;
}

aside#asideblank
{
    border-right: 2px solid black;
    background-color: #737373;
}

aside#asidemenu
{
    width: 100px;
    height: calc(100vh - 200px - 100px);
    border-right: 3px solid #8A8A8A;
    box-shadow: 2px 2px 7px #5D5D5D;
}

hr
{
    margin-top: 20px;
    margin-bottom: 20px;
}

button
{
    width: 100%;
    padding: 13px;
    background-color: #4B8AA9;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    cursor: pointer;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: 0.2s ease-out;
}
button:hover
{
    background-color: #2BBBAD;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
}

main
{
    min-height: 100px;
}


article, article *
{
    padding: 2px;
}

article
{
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin: auto;
    border: 1px solid black;
}

figure img
{
    background-image: url("../images/fond.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 250px 376px;
    width: 250px;
    height: 500px;;
    border: 1px solid #777575;
    box-shadow: 3px 2px 12px #4a4a4a;
    margin-bottom: 9px;
}

figcaption
{
    border-bottom: 1px solid black;
    box-shadow: 4px 4px 6px 0px gray;
    background-color: #4B8AA9;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    opacity: 0.85;
}
figcaption:hover
{
    opacity: 1;
    transition: 0.7s;
}


.unused, .unused a
{
    cursor: default;
    opacity: 0;
}

.icons
{
    padding-left: 1em;
    padding-right: 1em;
}

.icons span
{
    background-color: #EE6E73;
    border-radius: 20px;
}

.icon-rotate:hover{$
    animation-name: rotatee;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

}

@keyframes rotatee
{
    0% {
        transform: translate(-50%,-50%) rotateX(0) rotateY(0) rotateZ(0);
    }
    33% {
        transform: translate(-50%,-50%) rotateX(0) rotateY(180deg) rotateZ(0);
    }
    66% {
        transform: translate(-50%,-50%) rotateX(0) rotateY(180deg) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%,-50%) rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

.iconsphomail
{
    margin-top: 5px;
    padding-right: 0px;
    margin-right: 0px;
}
.iconpho, .iconmail
{
    cursor: pointer;
}
.textpho, .textmail
{
    display: none;
    bottom: 100%;
    background-color: #FFFFFF;
    white-space: nowrap;
}
.iconpho:hover+.iconmail>.textmail, .iconmail:hover~.iconpho>.textpho
{
    display: none;
}
.textpho.selected, .textmail.selected, .iconpho:hover>.textpho, .iconmail:hover>.textmail
{
    display: block;
}

.iconsskills{
    margin-top: 10px;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 25px;
}

div.text
{
    width: 250px;
    height: 500px;
    background: #FFFFFF;
    opacity: 0;
}

p.texttext
{
    border: 4px solid #ee6e73;
    padding: 0.5em;
    box-shadow: 7px 7px 10px #8e8e8e;
}
p.textquote
{
    border: 4px solid #ee6e73;
    padding: 0.5em;
    box-shadow: 7px 7px 10px #8e8e8e;
}

div.text:hover
{
    opacity: 1;
    transition: opacity 1s;
}

details.text
{
    display: none;
}

@media screen and (max-width: 600px)
{
    aside, aside#asidemenu
    {
        display: none;
    }

    article
    {
        margin-left: 20px;
        margin-right: 20px;
        margin: auto;
    }

    div.text
    {
        display: none;
    }

    details.text
    {
        display: block;
    }

    .header_high {
        height: 150px;
    }

    .reseaux_sociaux {
        font-size: 14px;
    }

    .reseaux_sociaux p {
        display: none;
    }

    .nav {
        width: 40%;
        right: 10px;
    }

    .logo_simplon {
        width: 150px;
        height: 110px;
    }

    form, form fieldset, form input {
        width: 98%;
    }

    div#main-container
    {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .footer_low {
        height: 80px;
    }

    .copyright {
        width: 30%;
    }

    .footer_txt {
        width: 50%;
    }

    footer p {
        font-size: 10px;
        text-align: center;
    }

    footer img {
        width: auto;
        height: 10px;
    }
}


