@font-face {
  font-family: "sansation_regular";
  src: url("../fonts/Sansation_Regular.ttf");
}

*
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
}

div#wrapper
{
    min-height: 100%;
    width: 100%;
    position: relative;
}

header
{
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    border: 2px solid black;
    background-color: #737373;
    box-sizing: border-box;
}

div.reseaux_sociaux {
  border: 2px solid  white;
  height: 10%;
  font-family: "sansation_regular";
  color: white;
}

.logo_simplon {
  top: 10%;
  left: 5%;
  width: 150px;
  height: 150px;
}

div#main-container
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 100px;
}

aside
{
    min-width: 100px;
    width: 20%;
    min-height: calc(100vh - 200px - 100px);
    border: 3px solid black;
    box-sizing: border-box;
}

main
{
    flex-grow: 1;
    min-height: 100px;
    box-sizing: border-box;
}

footer
{
    width: 100%;
    height: 100px;
    border: 2px solid black;
    background-color: #737373;
    box-sizing: border-box;
    color: white;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  border: 2px solid black;
  width: 7%;
  height: 50px;
}

footer p {
  font-family: "sansation_regular";
}

h1,
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

/* Test */
div.github, div.linkedin, div.viadeo
{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

article, article *
{
    border: 1px solid black;
}
/* */

section
{
    display: flex;
    flex-wrap: wrap;
}

article
{
    position: relative;
}

figure
{
    position: relative;
}

figure img
{
    backgr.githubd-image: url("../images/fond.jpg");
    backgr.githubd-repeat: no-repeat;
    backgr.githubd-position: center center;
    backgr.githubd-size: 250px 500px;
    width: 250px;
    height: 500px;
}

div.icons
{
    display: flex;
    justify-content: space-between;
}

.unused, .unused a
{
    cursor: default;
    opacity: 0;
}

.iconsphomail
{
    position: relative;
}

.iconpho, .iconmail
{
    cursor: pointer;
}

.textpho, .textmail
{
    display: none;
    position: absolute;
    bottom: 22px;
    right: 0;
}

.textpho.selected, .textmail.selected
{
    display: block;
}

div.text
{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 500px;
    backgr.githubd: #FFFFFF;
    opacity: 0;
}
div.text p
{
    position: absolute;
}

p.texttext
{
    text-align: left;
}
div.text p.textext
{
    top: 0;
    left: 0;
}

p.textquote
{
    text-align: right;
}
div.text p.textquote
{
    bottom: 0;
    right: 0;
}

div.text:hover
{
    opacity: 0.75;
}

details.text
{
    display: none;
}

@media screen and (max-width: 600px)
{
    aside
    {
        display: none;
    }

    div.text
    {
        display: none;
    }

    details.text
    {
        display: block;
    }
}
